<ion-view view-title="Dashboard">
  <ion-content scroll='false'>
    <button class="stop" ng-click='stop()'>{{btn_txt}}</button>
    <div id="mylegend"></div>
  </ion-content>
</ion-view>
<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <ion-header-bar align-title="center" class="bar-positive">


  <h1 class="title center">交互页面</h1>
  <div class="buttons">
    <button class="button" ng-click='closeModal()'><i class="icon ion-close"></i></button>
  </div>
</ion-header-bar>

    </ion-header-bar>
    <ion-content>
      交互显示
    </ion-content>
  </ion-modal-view>
</script>
